/* Top-level component */

.TwetchRenderer {
  width: 598px;
  border-radius: 6px;
  background-color: black;
  color: white;
  white-space: pre-wrap;
  overflow: hidden; /* prevents margin collapse */
  font-family: sans-serif;
  font-size: 20px;
}

.TwetchRenderer__Loading {
  padding: 32px 0;
  text-align: center;
}

.TwetchRenderer__Quoted {
  width: auto;
  border: 1px solid #696969;
  cursor: pointer;
  position: relative;
  background: #010101;
  border-radius: 6px;
}

.TwetchRenderer a {
  color: #0094ff;
  display: inline-block;
  word-break: break-word;
  text-decoration: none;
}

.TwetchRenderer__Header {
  display: flex;
  padding: 16px 16px 0 16px;
  border-radius: 4px 4px 0 0;
}
.TwetchRenderer__Quoted > .TwetchRenderer__Header {
  padding: 8px;
  background: #696969;
}

.TwetchRenderer__Header p {
  margin: 0;
}

.TwetchRenderer__Header > a {
  display: inline-block;
  position: relative;
  margin-right: 12px;
  vertical-align: top;
}

.TwetchRenderer__Header > a > * {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 100%;
  background-repeat: no-repeat;
}

.TwetchRenderer__User {
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  display: inline-block;
}
.TwetchRenderer__User > a {
  line-height: 24px;
  color: #f2f2f2;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  font-size: 16px;
  max-width: calc(100% - 64px);
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
  text-decoration: none;
}
.TwetchRenderer__User > p {
  line-height: 24px;
  color: #c4c4c4;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  margin-left: 6px;
  vertical-align: top;
}

.TwetchRenderer__Timestamp {
  line-height: 24px;
  color: #c4c4c4;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  margin-left: 6px;
  vertical-align: top;
  font-family: proxima-nova, Helvetica;
  white-space: nowrap;
}

.TwetchRenderer__Body {
  margin: 16px;
}

.TwetchRenderer__Quoted .TwetchRenderer__Body {
  margin: 8px;
}

.TwetchRenderer__Body > :not(:first-child) {
  margin-top: 8px;
}
